.faq > .hidden {
    display: none;
}
.faq > .qa {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 0.5em 1em;
    margin: 1em 0;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    overflow-y: auto;
}
.faq > .qa > .answer {
    margin-top: 0.3em;
    overflow: hidden;
    transition: opacity 0.2s;
    opacity: 1;
}
.faq > .qa.collapsed > .answer {
    max-height: 0px;
    opacity: 0;
}
.faq > .qa > h3 {
    cursor: pointer;
    margin: 0;
}
.faq .qa > h3 > a.qalink {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    font-size: 0.8em;
    color: rgba(128,128,128,0.0);
    transition: color 0.5s;
}
.faq > .qa > h3:hover > a.qalink { color: rgba(128,128,128,0.3); }
.faq > .qa > h3 > a.qalink:hover { color: rgba(128,128,128,0.5); }
.faq > .qa.highlight > h3 > a.qalink { color: rgba(128,128,128,1.0); }

.faq > .qa.collapsible > h3::before { content: '▴ '; color: rgba(128, 128, 128, 0.5); }
.faq > .qa.collapsible > h3:hover::before { color: rgba(128, 128, 128, 0.8); }
.faq > .qa.collapsed > h3::before { content: "▾ "; color: rgba(128, 128, 128, 0.5); }
.faq > .qa.collapsed > h3:hover::before { color: rgba(128, 128, 128, 0.8); }

.faq > input.search {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    font-size: 120%;
    padding: 0.5em;
    margin: 0.5em 0;
    transition: border-color 0.2s;
}
.faq > input.search:focus {
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.9);
}
.faq > .search-info {
    font-style: italic;
}
