.faq > .hidden {
    display: none;
}
.faq > .qa {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    overflow-x: visible;
    overflow-y: auto;
}
.faq > .qa > .answer {
    padding: 0;
    margin: 0;
    margin-top: 0.3em;
    overflow: hidden;
    transition: opacity 0.2s;
    opacity: 1;
}
.faq > .qa.collapsed > .answer {
    max-height: 0px;
    opacity: 0;
}
.faq > .qa > h3 {
    cursor: pointer;
    margin: 0;
    position: relative;
}

.faq .qa > h3 > .link-icon, .faq .qa > h3 > .collapse-icon {
    position: absolute;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    font-size: 0.8em;
    transition: color 0.2s, transform 0.2s;
}
.faq .qa > h3 > a.collapse-icon { right: 1em; color: rgba(128, 128, 128, 0.5); transform: scale(1, 1); }
.faq .qa > h3 > a.link-icon { right: -0.5em; color: rgba(128, 128, 128, 0.0); }
.faq > .qa > h3:hover > .collapse-icon {color: rgba(128, 128, 128, 0.9); }
.faq .qa.collapsed > h3 > a.collapse-icon { transform: scale(1, -1); }
.faq > .qa > h3:hover > .link-icon { color: rgba(128, 128, 128, 0.2); }
.faq > .qa > h3:hover > .link-icon:hover { color: rgba(128, 128, 128, 0.5); }
.faq > .qa > h3 > .collapse-icon::before { content: '^';} /*^▴▲△⌃*/
.faq > .qa > h3 > .link-icon::before { font-size: 80%; content: '🔗';}

.faq > input.search {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    font-size: 120%;
    padding: 0.5em;
    margin: 0.5em 0;
    transition: border-color 0.2s;
}
.faq > input.search:focus {
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.9);
}
.faq > .search-info {
    font-style: italic;
}
